<% layout('layouts/boilerplate') %>
<body>
    <h1>
        <%= surfspot.description %>
    </h1>
    <h2>
        <%= surfspot.location %>
    </h2>
    <img src="<%= surfspot.image %>" alt="">
    <p>  <%= surfspot.size %> </p>
    <p>  <%= surfspot.tide %> </p>
    <p> <a href="/surfspots/<%=surfspot._id%>/edit">Edit</a>
    </p>
    <p>
    <form action="/surfspots/<%=surfspot._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <p> <a href="/surfspots/<%=surfspot._id%>/edit">Edit</a></p>
    <footer>
        <a href="/surfspots">All surfspots</a>
    </footer>
</body>
